<mat-toolbar color="primary">
  <span>Edit Product</span>
</mat-toolbar>
<div class="pro-content">
  <div class="container">

    <mat-card-content>
      <mat-form-field class="pro-full-width">
        <input matInput placeholder="Product Name" [formControl]="ProName" required minlength #fullname>
        <mat-error *ngIf="ProName.invalid">{{getFullNameMessage()}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field class="pro-full-width">
        <input matInput placeholder="Wight Price" type="number" class="right-align" [formControl]="weightPrice" required minlength #weight>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="weightPrice.invalid">{{getWeightMessage()}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field class="pro-full-width">
        <input matInput placeholder="CBM Price" type="number" class="right-align" [formControl]="cbmprice" required minlength #cbm>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="cbmprice.invalid">{{getcbmMessage()}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit(ProName.value, weight.value, cbm.value)" color="primary"> Save </button>
      <button mat-raised-button (click)="onClose()"> Cancel</button>
    </mat-card-actions>
  </div>
</div>
