<mat-toolbar color="primary">
  <span>Are You Sure this product Send To Shipping?</span>
</mat-toolbar>
<div class="user-content">
  <div class="container">
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <b>Contact:</b><br/>
          {{Full_name}}<br/>
          {{mobile_number}}<br/>
        </div>
        <div class="col-md-6">
          <b>Product:</b><br/>
          Product Name: <b>{{Product_Name == null ? pro_name : Product_Name }}</b><br/>
          Tr.# {{tr_Number}}<br/>
        </div>
      </div>
      <br/>

      <mat-radio-group class="user-full-width">
        <mat-radio-button [checked]="SendByAorS==='0'" value="0" (change)="SendByAorS = '0'">Ship</mat-radio-button>
        <mat-radio-button  [checked]="SendByAorS==='1'" value="1" (change)="SendByAorS = '1'">Air</mat-radio-button>
      </mat-radio-group>
      <br/>
      <mat-card-content *ngIf="SendByAorS === '1'">
        <mat-form-field class="pro-full-width">
          <input matInput placeholder="Weight (gm)" type="number" [formControl]="weight_Air" #weight>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content *ngIf="SendByAorS === '0'">
        <mat-form-field class="pro-full-width">
          <input matInput placeholder="Height (cm)" type="number" [formControl]="Height_ship" #weight>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content *ngIf="SendByAorS === '0'">
        <mat-form-field class="pro-full-width">
          <input matInput placeholder="Width (cm)" type="number" [formControl]="Width_ship" #weight>
        </mat-form-field>
      </mat-card-content>
      <br/>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" color="primary"> Yes </button>
      <button mat-raised-button (click)="onClose()"> No </button>
    </mat-card-actions>
  </div>
</div>